

.act-tabla-resultados
{
    overflow-x: auto;
    height: 19em;
}

.card-info-fecha
{
}

.card-info-fecha
{
}

.info-fecha-header p
{
    width: 50%;
}

.info-fecha-numero
{
    float: left;
}

.info-fecha-dia
{
    float: right;
    text-align: right;
}

