

.act-tabla-resultados
{
    overflow-x: auto;
    height: 19em;
}

.card-info-fecha
{
}

.card-info-fecha
{
}

.info-fecha-header p
{
    width: 50%;
}

.info-fecha-numero
{
    float: left;
}

.info-fecha-dia
{
    float: right;
    text-align: right;
}

.act-icono
{
    color: rgba(96, 125, 139, 0.47);
    font-size: 16px;
}

.noticia
{
    background-color: #ffffff;
    border: 1px solid;
    position: relative;
    min-height: 186px;
}

.noticia-contenido
{
    width: 80%;
    position: relative;
    float: left;
}

.noticia-social
{
    float: left;
    position: relative;
    min-height: 137px;
}

.noticia-botones
{
    position: relative;
    float: left;
    padding-right: 5px;
}

.noticia .noticia-contenido, .noticia .noticia-social
{
    padding: 10px 10px 20px;
}

